doctype html(lang='en')
head
    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='viewport', content='width=device-width, initial-scale=1')

    meta(name='description', content='')

    meta(name='author', content='')

    title Ask ZooSon
    // Bootstrap Core CSS
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')

    body
        // Navigation
        nav.navbar.top-nav(role='navigation')
            .container
                // Brand and toggle get grouped for better mobile display
                .navbar-header
                    img(src='/images/animals_logo.png', height="30", width="30", class="left")
                    h2(class='left') ZooSon
            // /.container
        // Page Content
        .container
            // Jumbotron Header
            header.jumbotron.hero-spacer
                h2 Ask us
                p
                    Do you want to know about an animal ? breeds ? Any fictional characters (stick to animals, coz we love them.)

                .row
                    .col-lg-12
                        .input-group
                            .input-group-addon Question:
                            input#question.form-control(type='text', placeholder='Enter your question.')
                            span.input-group-btn
                                button#go-btn.btn.btn-default(type='button') Go
            div#loadingDiv.row
                img.img.img-responsive.center-block(src='loading.GIF')
                h5.text-center.text-muted Loading..

            div#resultsDiv.row

            hr
            // List of Questions
            div#questions.row
                .col-lg-12
                    h3 You may want to try these questions.. (try different animals)
                    .list-group
                        a.list-group-item(href='#') show me Snake.
                        a.list-group-item(href='#') What is Zebra ?
                        a.list-group-item(href='#') What is lifespan of Labrador Retriever ?

            // /.row

            hr
            // Debug
            div#debug.row(style='visibility: hidden;')
                .col-lg-12
                    h3 Debug
                    textarea#debug-ta.form-control(rows="10")
            // /.row

            hr
            // Title
            .row(style='visibility: hidden;')
                .col-lg-12
                    h3 Latest Features
            // /.row
            // Page Features
            .row.text-center(style='visibility: hidden;')
                .col-md-3.col-sm-6.hero-feature
                    .thumbnail
                        img(src='http://placehold.it/800x500', alt='')

                        .caption
                            h3 Feature Label

                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

                            p
                                a.btn.btn-primary(href='#') Buy Now!

                                a.btn.btn-default(href='#') More Info

                .col-md-3.col-sm-6.hero-feature
                    .thumbnail
                        img(src='http://placehold.it/800x500', alt='')

                        .caption
                            h3 Feature Label

                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

                            p
                                a.btn.btn-primary(href='#') Buy Now!

                                a.btn.btn-default(href='#') More Info

                .col-md-3.col-sm-6.hero-feature
                    .thumbnail
                        img(src='http://placehold.it/800x500', alt='')

                        .caption
                            h3 Feature Label

                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

                            p
                                a.btn.btn-primary(href='#') Buy Now!

                                a.btn.btn-default(href='#') More Info

                .col-md-3.col-sm-6.hero-feature
                    .thumbnail
                        img(src='http://placehold.it/800x500', alt='')

                        .caption
                            h3 Feature Label

                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

                            p
                                a.btn.btn-primary(href='#') Buy Now!

                                a.btn.btn-default(href='#') More Info
            // /.row
            hr
            // Footer
            footer
                .row
                    .col-lg-12
                        p Copyright &copy; ZooSon 2015
        // /.container
        // jQuery
        script(src='js/jquery-2.1.3.min.js')
        // Bootstrap Core JavaScript
        script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
        script(src='js/dbpedia.js')
        script(src='js/ask.js')