//- index.jade
extends ./layout.jade

block row-content
    div.row
        div.col-lg-6.col-md-12.col-xs-12
            h2 Just say an Animal name
            div.mic-container.well.overlay-container
                div.unsupported-overlay
                    h4 This application only works in recent versions of
                        a(href="https://www.google.com/intl/en/chrome/browser/desktop/", target="_blank") Chrome
                        | supporting HTML5 audio capture.
                div.row
                    div.col-lg-12.col-md-12.col-xs-12
                        p.form-group.small For best results, please use a hi-speed internet connection and a close talking microphone (e.g., from a headset) in a quiet area.
                        div.microphone
                            div.micButton-preload
                            div.micButton
                            p.micText Press to start speaking

        div.col-lg-6.col-md-12.col-xs-12
            h2 Output
            p.small To test your mic, say "one two three four five."
                | If the words are not recorded correctly, you may need to
                | adjust your audio input device or settings. If the response seems slow,
                | it could be a network issue. If you're still having trouble,
                | please use the sample files instead.
            form.form-inline
                div.form-group
                    p.label.label-info Train the data
                div.form-group
                    input.form-control(id='should-train', type='checkbox', value='Train the System (At present only for Cat)')
            div.well
                div.form-group.row.loading.text-center(style='display:none')
                    img(src='images/watson.gif')
                div.errorMsg
                div#text
    div.row.row-centered
        div.col.col-lg-12.col-md-12
            h2 Just ask about an Animal
            form.form-inline(id='text-form')
                div.form-group
                    input.form-control(id='paragraph', placeholder='Ask ZooSon')
                div.form-group
                    input.form-control.btn.btn-success(value='Go', type='submit')
    div.row.row-centered
        div.col.col-lg-12.col-md-12(id='gallery-div')

    div.row
        div.help-block.text-center
            small This application only works in recent versions of Chrome supporting HTML5 audio capture
    //- Preload sample audios
    div.hidden
        audio.sample1(preload='auto', autobuffer, controls, src='audio/cat.mp3')
        form.upload-form#fileupload(method='POST', enctype='multipart/form-data', action='/')
            input.url-input(type='hidden', name='url')