//- layout.jade
doctype html
html(lang='en')
    head
        block title
            title Speech to Text
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
        link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
        link(rel='stylesheet', href='/css/watson-bootstrap-dark.css')
        link(rel='stylesheet', href='/css/style.css')

    body
        div.container
            div.row
                div.col-lg-12
                    div.row.top-nav
                        div.col-lg-12
                            img.left(src="/images/animals_logo.png", height=30, width=30)
                            h4.left ZooSon
                            a.right(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/speech-to-text.html') Learn more
                            a.right.fork(href='https://github.com/pradyumnad/ClassApp') Fork This
                            a.right(href='mailto:psd6f4@mail.umkc.edu') Get in Touch
                            a.right(href='https://developer.ibm.com/watson/') Watson Community
            block row-content

        script(type='text/javascript', src='/js/browser-detect.js')
        script(type='text/javascript', src='/js/jquery-1.11.1.min.js')
        script(type='text/javascript', src='/js/speech-recognizer.js')
        script(type='text/javascript', src='/js/socket.io.js')
        script(type='text/javascript', src='/js/demo.js')